:root {
  --clr--background: #e5e5e5;
  --clr--formbg: #09e59b;
  --clr--lightgrey: #888888;
  --clr--white: #fff;
  --clr-darkgrey: #333333;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: var(--clr--background);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
}

.form__container {
  background-color: var(--clr--formbg);
  padding: 1.25rem 2.5rem;
  width: 25rem;
  border-radius: 8px;
}

.input__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.input__group label {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--clr-darkgrey);
}

.input__group input {
  -webkit-appearance: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--clr-darkgrey);
}

.input__group input:focus {
  border: 1px solid red;
}

.input__group input::-webkit-input-placeholder {
  font-size: 1rem;
  color: var(--clr--lightgrey);
}

.input__group input::-moz-placeholder {
  font-size: 1rem;
  color: var(--clr--lightgrey);
}

.input__group input:-ms-input-placeholder {
  font-size: 1rem;
  color: var(--clr--lightgrey);
}

.input__group input::-ms-input-placeholder {
  font-size: 1rem;
  color: var(--clr--lightgrey);
}

.input__group input::placeholder {
  font-size: 1rem;
  color: var(--clr--lightgrey);
}

.btn {
  display: block;
  padding: 0.75rem 1rem;
  background-color: var(--clr--lightgrey);
  border: none;
  border-radius: 3px;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  margin: auto;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}
